/*layout*/
body{
	background-color: #cccccc;
	font-family: "Times New Roman";
}

*{
	box-sizing: border-box;
}

.col1 {
	width: 300;
	float: left;
	padding: 15px;
	border: 1px solid red;
}

.col2 {
	width: 50%;
	float: left;
	padding: 15px;
	border: 1px solid blue;
}

.headimg {
	width: 100%;
	font-size: 0;
}

/*Nav bar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky;
	position:sticky;
	top: 0;
}

li{
	float: left;
	border-right: 1px solid #bbb;
}

li:last-child{
	border-right: none;
}

li a{
	display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}

li a:hover:not(.active){
	background-color: #111;
}
.active{
	background-color:#4d4d4d;
}

/*Form*/
form{
	border-style: inset;
	border-width: 5px 5px;
	border-radius: 8px;
	padding: 6px;
	width: 180px;
	background-color: #e6e6e6;
}
input[type=submit]{

	padding: 16px 32px;
	width: 100%;
	cursor: pointer;
	background-color: #e4e4e4;
}	

input[type=button]{

	padding: 16px 32px;
	width: 100%;
	cursor: pointer;
	background-color: #e4e4e4;
}

input[type=text]{
	width: 100%;
}

select{
	width: 100%;
	padding: 10px 20px;
	background-color: f1f1f1;
}

/*output table*/
table, th, td {
	border: 1px solid;
	text-align: left;
	background-color: #e6e6e6;
}
table {
	border-collapse; collapse;
	width: 100%;
}
th,td {
	padding: 15px;
}

